// ---------------Változók--------------- //

  // Szín

  $dominant-color: #878AF5;
  $accent-color: #666AF6;
  $support_1-color: #31446C;
  $support_2-color: #F5A921;
  $support_3-color: #F4863C;

  // Betűtípus

  $poppins-font-family: 'Poppins', sans-serif;
  $openSans-font-family: 'OpenSans', sans-serif;

  // Betűtípus vastagság

  $poppins-weight-bold: 700;
  $poppins-weight-semiBold: 600;
  $poppins-weight-Mmdium: 500;
  $poppins-weight-regular: 400;

  // Betűméret

  $poppins-size-text: 16px;
  $poppins-size-heading1: 26px;
  $poppins-size-heading2: 24px;
  $poppins-size-heading3: 21px;
  $poppins-size-heading4: 18px;
  $poppins-size-subheading1: 21px;
  $poppins-size-subheading3: 16px;
  

// ---------------CSS RESET--------------- //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $poppins-font-family;
    font-weight: $poppins-weight-regular;
    line-height: 1.6;
    font-size: $poppins-size-text;
    color: $support_1-color;
    background-color: #fff;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    color: $dominant-color;
    font-family: $openSans-font-family;
    text-decoration: none;
  }

  


  
  
  