// ---------------Változók--------------- //

  // Szín

  $dominant: #878AF5;
  $accent: #666AF6;
  $support_1: #31446C;
  $support_2: #F5A921;
  $support_3: #F4863C;

  // Betűtípus

  $poppins: 'Poppins', sans-serif;
  $openSans: 'OpenSans', sans-serif;

  // Betűtípus vastagság

  $poppinsBold: 700;
  $poppinsSemiBold: 600;
  $poppinsMedium: 500;
  $poppinsRegular: 400;

  // Betűméret

  $poppinsText: 16px;
  $poppinsHeading1: 26px;
  $poppinsHeading2: 24px;
  $poppinsHeading3: 21px;
  $poppinsHeading4: 18px;
  $poppinsSubheading1: 21px;
  $poppinsSubheading3: 16px;
  

// ---------------CSS RESET--------------- //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $poppins;
    font-weight: $poppinsRegular;
    line-height: 1.6;
    font-size: $poppinsText;
    color: $support_1;
    background-color: #fff;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    color: $dominant;
    font-family: $openSans;
    text-decoration: none;
  }

  


  
  
  